<!DOCTYPE html> {% load staticfiles %}
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    <title>Soccer pocket</title>
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="pingback" href="https://themes.getbootstrap.com/xmlrpc.php" />

    <link rel='apple-touch-icon' sizes='180x180' href='https://themes.getbootstrap.com/wp-content/themes/bootstrap-marketplace/assets/images/fav/apple-touch-icon.png'>
    <link rel='icon' type='image/png' sizes='32x32' href='http://image.cccdddd.com/big/7/buildings2-icon-64x64-6168.jpg'>
    <link rel='icon' type='image/png' sizes='16x16' href='http://image.cccdddd.com/big/7/buildings2-icon-64x64-6168.jpg'>
    <link rel='manifest' href='https://themes.getbootstrap.com/wp-content/themes/bootstrap-marketplace/assets/images/fav/manifest.json'>
    <link rel='shortcut icon' href='https://themes.getbootstrap.com/wp-content/themes/bootstrap-marketplace/assets/images/fav/favicon.ico'>
    <meta name='msapplication-config' content='https://themes.getbootstrap.com/wp-content/themes/bootstrap-marketplace/assets/images/fav/browserconfig.xml'>
    <script src='https://themes.getbootstrap.com/wp-content/themes/bootstrap-marketplace/assets/javascript/jquery.min.js'></script>
    <script src='https://themes.getbootstrap.com/wp-content/themes/bootstrap-marketplace/assets/javascript/bootstrap.min.js'></script>
    <!-- The filemtime is to append a timestamp for the last time the stylesheet was updated to automate cache busting from CloudFlare -->
    <script src='https://themes.getbootstrap.com/wp-content/themes/bootstrap-marketplace/assets/javascript/scripts.js?ver=1516485707'></script>
    <script type='text/javascript' src='https://themes.getbootstrap.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='https://themes.getbootstrap.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>

    <!-- The filemtime is to append a timestamp for the last time the stylesheet was updated to automate cache busting from CloudFlare -->
    <link rel='stylesheet' href='{% static "css/login-style.css" %}' />


    <!-- This site is optimized with the Yoast SEO plugin v6.3.1 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta name="description" content="Welcome back to Bootstrap Themes. Sign in to download purchased themes, leave a review, contact us for support, and manage your account information."
    />
    <link rel="canonical" href="https://themes.getbootstrap.com/signin/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Soccer pocket" />




</head>

<body class="page-template-default page page-id-137">

    <!-- <div id="page" class="hfeed site"> -->

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a href="{% url 'index' %}" class="navbar-brand">Soccer pocket</a>
            <div class="d-flex ml-auto">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#globalNavbar" aria-controls="globalNavbar"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="globalNavbar">
                <ul class="navbar-nav mr-auto order-1">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                    </li>
                </ul>
                {% if not request.user.is_authenticated  %}
                    <ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                {% endif %}
                
                {% if user.is_authenticated %}
                    <ul class="navbar-nav d-lg-none">
                        <li class="nav-item-divider"></li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Acesse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'signin' %}">Sign up</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav d-lg-none">
                        <li class="nav-item-divider"></li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Acesse</a>
                        </li>
                    </ul>
                {% endif %}
                
            </div>
        </div>
    </nav>
    <main id="main" class="site-main main">
        <section class="section">
            <div class="container">
                {% comment %} content goes here {% endcomment %}
                {% block body_block %}

                {% endblock  %}
            </div>
        </section>
    </main>

    <!-- #main .site-main -->
    <div id="yith-wcwl-popup-message" style="display:none;">
        <div id="yith-wcwl-message"></div>
    </div>

</body>

</html>