<!DOCTYPE html> {% extends "ClientArea/_sign.html"%} {% load staticfiles %} {% block body_block %}{% csrf_token %}
<div class="row">
    <div class="container container--mini">
        <img class="img-fluid logo-login-size mx-auto d-block mb-5" src="http://image.cccdddd.com/big/7/buildings2-icon-64x64-6168.jpg"
            alt="">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="usuario">Usuario</label>
                <input id="usuario" name="usuario" class="form-control">

                <label for="senha">Senha</label>
                <a class="form-sublink" href="https://themes.getbootstrap.com/my-account/lost-password/">Forgot password?</a>
                <input type="password" id="senha" name="senha" class="form-control">
                <p class="login-remember">
                    <label><input name="rememberme" type="checkbox" id="rememberme" value="forever"> Remember Me</label>
                </p>
                <input type="submit" class="btn btn-primary" style="width: 100%" role="button" />
            </div>



        </form>
        <p class="small text-center text-gray-soft">Don't have an account yet?
            <a href="https://themes.getbootstrap.com/my-account/">Sign up</a>
        </p>
    </div>
</div>
{% endblock %}