<!DOCTYPE html> {% extends "ClientArea/_sign.html"%} {% load staticfiles %} {% block body_block %}
<h1>Bem vindo, {{ first_name }} {{ last_name }}</h1>
<h3>Sistemas:</h3>
<div class="col-12">
    <div class="row ml-4">
        <div class="card ml-4" style="width: 18rem;">
            <img class="card-img-top imagem-sistemas" src="https://ceslanformacion.es/wp-content/uploads/2017/10/Community-manager_vectorized.jpg">
            <div class="card-body">
                <h5 class="card-title">Gerenciar usuários</h5>
                <p class="card-text">Gestão de usuários cadastrados.</p>
                <a href="http://18.228.92.231:8080/share" class="btn btn-primary" target="blank">Acesse</a>
            </div>
        </div>
        <div class="card ml-4" style="width: 18rem;">
            <img class="card-img-top imagem-sistemas" src="https://i.kym-cdn.com/photos/images/original/001/287/729/740.jpg">
            <div class="card-body">
                <h5 class="card-title">Benefícios</h5>
                <p class="card-text">Encontre os benefícios perfeitos para sua família</p>
                <a href="http://54.233.86.86:8080/xmlui/" class="btn btn-primary" target="blank">Acesse</a>
            </div>
        </div>
        <div class="card ml-4" style="width: 18rem;">
            <img class="card-img-top imagem-sistemas" src="https://preview.redd.it/6oijnwbi637z.png?width=960&crop=smart&auto=webp&s=572fe2543ac95c59af239854df13c39028371f82">
            <div class="card-body">
                <h5 class="card-title">Free content</h5>
                <p class="card-text">Encontre os benefícios gratuitos para sua família</p>
                <a href="http://54.233.86.86:8080/xmlui/" class="btn btn-primary" target="blank">Acesse</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}