<!DOCTYPE html>
{% extends "ClientArea/_sign.html"%}
{% load staticfiles %}
{% block body_block %}
<div class="row">
    <div class="container container--mini">
        <img class="img-fluid logo-login-size mx-auto d-block mb-5" src="http://image.cccdddd.com/big/7/buildings2-icon-64x64-6168.jpg"
            alt="">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ user_form.as_p }}
            </div> 
            
            <p class="login-remember">
                <label>
                    <input name="rememberme" type="checkbox" id="rememberme" value="forever"> Remember Me</label>
            </p>
            <input type="submit" class="btn btn-primary" style="width: 100%" role="button"/>

        </form>
        <p class="small text-center text-gray-soft">Já possui uma conta?
            <a href="https://themes.getbootstrap.com/my-account/">Acesse</a>
        </p>
    </div>
</div>
{% endblock %}