/*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
  background-color: #00000008;
  font-family: 'Nunito', sans-serif;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.carousel-item {
  height: 80vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
    background-color:#343a40d1; background-clip: content-box;
}
.about-caption {
  
  background-clip: content-box;
  color: #fff;
  padding-top: 200px;
  opacity: 0.9;
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
  text-align: center;
}

.about-paragraph {
    text-align: justify;
}

.about-paragraph h2+p {
    padding-top: 20px ;
}

.about-paragraph p {
    text-indent: 9px; 
}

.portfolio-item {
  margin-bottom: 30px;
}

.qode_call_to_action.container {
    background-color: #00aeef
}

.qode_call_to_action.in_grid {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px
}

.qode_call_to_action.container .container_inner {
    padding: 40px 0
}

.call_to_action_text_wrapper p {
    font-size: 19px;
    font-weight: 300;
    line-height: 1.692307692307692em;
    color: #fff;
    text-align: center
}

.qode_call_to_action .call_to_action_text_wrapper {
    line-height: 40px
}

.qode_call_to_action .qbutton {
    position: static
}

.call_to_action_button_wrapper {
    text-align: left
}

.call_to_action_button_wrapper.left {
    text-align: left
}

.qode_call_to_action .two_columns_75_25 > .column2.left > .column_inner {
    padding: 0 20px 0 0
}

.qode_call_to_action.in_grid .two_columns_75_25 > .column2.left > .column_inner {
    padding-left: 28px
}

.qode_call_to_action.in_grid .two_columns_75_25 > .column2 > .column_inner {
    padding-right: 28px
}

.qode_call_to_action.in_grid .two_columns_75_25 > .column1.left > .column_inner {
    padding-right: 28px
}

.qode_call_to_action.in_grid .two_columns_75_25 > .column1 > .column_inner {
    padding-left: 28px
}

.qode_call_to_action .two_columns_75_25 > .column1.left > .column_inner {
    padding: 0
}

.qode_call_to_action .two_columns_75_25 > .column1.left {
    text-align: right
}

.qode_slider_preloader {
    width: 100%;
    background-color: #1c1c1c;
    position: absolute;
    z-index: 20
}

.qode_slider_preloader {
    height: 1500px
}

.qode_slider_preloader .ajax_loader_slider {
    display: block;
    position: absolute
}

.qode_carousels .slides > li .first_image_holder, {
    display: block;
    position: relative;
    width: 100%;
    opacity: 1;
    -webkit-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden
}

.qode_carousels {
    padding: 0;
    position: relative;
    display: block;
    zoom: 1
}

.qode_carousels .flex-direction-nav,
.testimonials_carousel .flex-direction-nav {
    height: 0;
    display: none!important
}
ul.flex-direction-nav a {
  position: absolute;
  top: 0;
  border: 0;
  margin: 0
}

.qode_carousels .flex-control-nav {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -60px
}

.qode_carousels .flex-control-nav li {
    margin: 0 3px;
    display: inline-block;
    zoom: 1;
    display: inline
}

.qode_carousels .flex-control-paging li a {
    width: 9px;
    height: 9px;
    display: inline-block;
    border: 1px solid #eaeaea;
    background-color: #fff;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px
}

.qode_carousels .flex-control-paging li a.flex-active {
    background-color: #00aeef;
    cursor: default;
    border: 0
}

.qode_carousels.gray .flex-control-paging li a.flex-active {
    cursor: default
}

.wpb_row,
.wpb_content_element,
ul.wpb_thumbnails-fluid > li,
.last_toggle_el_margin,
.wpb_button {
    margin-bottom: 0!important
}

.qode_clients .qode_client_holder {
    float: left;
    text-align: center;
    margin-bottom: 35px;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box
}

.qode_clients.two_columns .qode_client_holder {
    width: 50%
}

.qode_clients.three_columns .qode_client_holder {
    width: 33.33%
}

.qode_clients.four_columns .qode_client_holder {
    width: 25%
}

.qode_clients.five_columns .qode_client_holder {
    width: 20%
}

.qode_clients .qode_client_holder_inner {
    position: relative;
    margin: 0 20px;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box
}

.qode_clients .qode_client_holder_inner:before,
.qode_clients .qode_client_holder_inner:after {
    display: block;
    content: "";
    position: absolute;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box
}

.qode_clients .qode_client_holder_inner:before {
    height: 100%;
    right: -20px;
    width: 1px;
    border-right: 1px solid #eaeaea
}

.qode_clients .qode_client_holder_inner:after {
    width: 100%;
    bottom: -20px;
    height: 1px;
    border-bottom: 1px solid #eaeaea
}

.qode_clients .qode_client_holder.border-bottom-none .qode_client_holder_inner:after {
    border-bottom: 0
}

.qode_clients.two_columns .qode_client_holder:nth-child(2n) .qode_client_holder_inner:before,
.qode_clients.three_columns .qode_client_holder:nth-child(3n) .qode_client_holder_inner:before,
.qode_clients.four_columns .qode_client_holder:nth-child(4n) .qode_client_holder_inner:before,
.qode_clients.five_columns .qode_client_holder:nth-child(5n) .qode_client_holder_inner:before,
.qode_clients.six_columns .qode_client_holder:nth-child(6n) .qode_client_holder_inner:before {
    border-right-width: 0
}

.qode_clients .qode_client_holder a {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    line-height: 0;
    -webkit-transition: opacity .6s ease-out;
    -moz-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out;
    -ms-transform: opacity .6s ease-out;
    transition: opacity .6s ease-out
}

.animated_icons_with_text .animated_icon_with_text_holder {
    float: left;
    text-align: center;
    margin-bottom: 30px
}

.animated_icons_with_text.two_columns .animated_icon_with_text_holder {
    width: 50%
}

.animated_icons_with_text.three_columns .animated_icon_with_text_holder {
    width: 33.33%
}

.animated_icons_with_text.four_columns .animated_icon_with_text_holder {
    width: 25%
}

.animated_icons_with_text.five_columns .animated_icon_with_text_holder {
    width: 20%
}

.animated_icons_with_text.six_columns .animated_icon_with_text_holder {
    width: 16.66666666666667%
}

.animated_icons_with_text .animated_icon_with_text_inner {
    position: relative;
    margin: 0 15px;
    height: 85px
}

.animated_icons_with_text .animated_icon_with_text_inner:before,
.animated_icons_with_text .animated_icon_with_text_inner:after {
    display: block;
    content: "";
    position: absolute
}

.animated_icons_with_text .animated_icon_with_text_inner:before {
    height: 100%;
    right: -15px;
    width: 1px;
    border-right: 1px solid #eaeaea
}

.animated_icons_with_text .animated_icon_with_text_inner:after {
    width: 100%;
    bottom: -15px;
    height: 1px;
    border-bottom: 1px solid #eaeaea
}

.animated_icons_with_text .animated_icon_with_text_holder.border-bottom-none .animated_icon_with_text_inner:after {
    border-bottom: 0
}

.animated_icons_with_text.two_columns .animated_icon_with_text_holder:nth-child(2n) .animated_icon_with_text_inner:before,
.animated_icons_with_text.three_columns .animated_icon_with_text_holder:nth-child(3n) .animated_icon_with_text_inner:before,
.animated_icons_with_text.four_columns .animated_icon_with_text_holder:nth-child(4n) .animated_icon_with_text_inner:before,
.animated_icons_with_text.five_columns .animated_icon_with_text_holder:nth-child(5n) .animated_icon_with_text_inner:before,
.animated_icons_with_text.six_columns .animated_icon_with_text_holder:nth-child(6n) .animated_icon_with_text_inner:before {
    border-right-width: 0
}

.animated_icon_holder {
    height: 100%;
    padding: 0 0 0 15px;
    display: block;
    width: 52px;
    float: left;
    position: relative
}

.animated_icon {
    height: 100%;
    width: 100%;
    position: relative
}

.animated_icon_inner span {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    backface-visibility: hidden;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: 200ms ease-in;
    -moz-transition: 200ms ease-in;
    -o-transition: 200ms ease-in;
    transition: 200ms ease-in
}

.animated_icon_inner span.animated_icon_back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg)
}

.animated_icon_inner {
    height: 52px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    margin: -26px 0 0 0
}

.animated_icon_inner i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #f3f3f3;
    background: #f9f9f9 -ms-linear-gradient(bottom, #f3f3f3 0, #f9f9f9 100%);
    background: #f9f9f9 -moz-linear-gradient(bottom, #f3f3f3 0, #f9f9f9 100%);
    background: #f9f9f9 -o-linear-gradient(bottom, #f3f3f3 0, #f9f9f9 100%);
    background: #f9f9f9 -webkit-gradient(linear, left bottom, left top, color-stop(0, #f3f3f3), color-stop(1, #f9f9f9));
    background: #f9f9f9 -webkit-linear-gradient(bottom, #f3f3f3 0, #f9f9f9 100%);
    background: #f9f9f9 linear-gradient(to top, #f3f3f3 0, #f9f9f9 100%);
    -o-border-radius: 2em;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    margin: 0;
    border: 1px solid #eaeaea;
    color: #333;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
    -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
    -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4)
}

.animated_icon_inner span.animated_icon_back i {
    background: #009ad4;
    background: #00aeef -ms-linear-gradient(bottom, #009ad4 0, #00aeef 100%);
    background: #00aeef -moz-linear-gradient(bottom, #009ad4 0, #00aeef 100%);
    background: #00aeef -o-linear-gradient(bottom, #009ad4 0, #00aeef 100%);
    background: #00aeef -webkit-gradient(linear, left bottom, left top, color-stop(0, #009ad4), color-stop(1, #00aeef));
    background: #00aeef -webkit-linear-gradient(bottom, #009ad4 0, #00aeef 100%);
    background: #00aeef linear-gradient(to top, #009ad4 0, #00aeef 100%);
    color: #fff;
    border-color: #049cd4
}

.animated_icon_with_text_holder .animated_text_holder {
    text-align: left;
    width: 100%;
    height: 100%
}

.animated_icon_with_text_holder .animated_text_holder_wrap {
    display: block;
    padding: 0 0 0 90px;
    height: 100%
}

.animated_icon_with_text_holder .animated_text_holder_wrap_inner {
    width: 100%;
    height: 100%;
    position: relative
}

.animated_text_holder_inner {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    overflow: hidden;
    height: 100%
}

.animated_icon_with_text_holder .animated_title,
.animated_icon_with_text_holder .animated_text {
    display: table;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%
}

.animated_icon_with_text_holder .animated_title_inner,
.animated_icon_with_text_holder .animated_text p {
    display: table-cell;
    vertical-align: middle
}

.animated_icon_with_text_holder .animated_title,
.animated_icon_with_text_holder .animated_title_inner,
.animated_icon_with_text_holder .animated_text,
.animated_icon_with_text_holder .animated_text p {
    -webkit-transition: 200ms ease-in;
    -moz-transition: 200ms ease-in;
    -o-transition: 200ms ease-in;
    transition: 200ms ease-in
}

.animated_icon_with_text_holder .animated_text {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0)
}

.animated_icon_with_text_holder .animated_text p {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    color: #00aeef
}

.header_top_bottom_holder {
    position: relative
}

.qode_search_form {
    background: none repeat scroll 0 0 #2b2b2b;
    color: #fff;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0
}

.qode_search_form i {
    color: #959595;
    font-size: 13px;
    display: inline-block;
    padding: 0 0 0 45px;
    float: left;
    line-height: 50px
}

.qode_search_form input,
.qode_search_form input:focus {
    background-color: #2b2b2b;
    border: medium none;
    box-shadow: none;
    color: #959595;
    display: inline-block;
    font-size: 13px;
    line-height: 20px;
    height: 20px;
    margin: 15px 0;
    width: 90%;
    padding: 0 45px 0 10px;
    font-family: inherit;
    outline: 0;
    outline-offset: 0;
    -webkit-appearance: none;
    border-radius: 0;
    float: left
}

.qode_search_form input:focus {
    outline-offset: 0!important
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
    color: #959595;
    margin: 10px 0 0 0
}

@media only screen and (max-width:1200px) {
    .qode_search_form input {
        width: 80%
    }
}

@media only screen and (max-width:768px) {
    .qode_search_form input {
        width: 70%
    }
}

@media only screen and (max-width:500px) {
    .qode_search_form input {
        width: 65%
    }
}

.qode_search_form .container_inner {
    position: relative
}

.qode_search_form .container i {
    padding: 0
}

.qode_search_form .container input {
    width: 90%;
    padding: 0 0 0 10px
}

.qode_search_form input[type="submit"] {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
    visibility: hidden
}

.qode_search_form .qode_search_close {
    color: #959595;
    font-size: 13px;
    position: absolute;
    line-height: 50px;
    height: 50px;
    top: 0;
    right: 45px
}

.qode_search_form .container .qode_search_close {
    right: 0
}

.cover_boxes {
    position: relative;
    overflow: hidden
}

.cover_boxes ul {
    list-style: none;
    margin: 0 -20px 0 0;
    padding: 0;
    width: 200%
}

.cover_boxes ul li {
    float: left;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    width: 265px;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s
}

.cover_boxes ul li.act {
    width: 530px
}

.cover_boxes ul li .box {
    width: 530px
}

.cover_boxes ul li .box .thumb {
    display: inline-block;
    float: left;
    margin-right: 20px;
    position: relative;
    z-index: 10;
    width: 265px
}

.cover_boxes ul li .box .thumb img {
    display: block;
    position: relative;
    max-width: 100%
}

.cover_boxes ul li .box .box_content {
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 0 0 0 285px;
    width: 245px;
    z-index: 9;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box
}

.cover_boxes ul li .box h3 {
    margin: 0 0 10px 0
}

.cover_boxes ul li .box .qbutton {
    margin: 20px 0 0 0
}

.q_circles_holder {
    position: relative;
    display: inline-block;
    width: 100%;
    clear: both;
    list-style: none;
    margin: 0;
    padding: 0
}

.q_circles_holder:before {
    position: absolute;
    left: 80px;
    display: block;
    width: 85%;
    height: 0;
    border-top: 1px solid #eaeaea;
    content: ""
}

.q_circles_holder.three_columns:before {
    top: 115px
}

.q_circles_holder.four_columns:before {
    top: 90px
}

.q_circles_holder.five_columns:before {
    top: 65px
}

.q_circles_holder.no_line:before {
    display: none;
    border: 0;
    height: 0;
    width: 0
}

.q_circles_holder .q_circle_outer {
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box
}

.q_circles_holder.three_columns .q_circle_outer {
    width: 33.3%
}

.q_circles_holder.four_columns .q_circle_outer {
    width: 25%
}

.q_circles_holder.five_columns .q_circle_outer {
    width: 20%
}

.q_circles_holder .q_circle_inner {
    position: relative;
    display: table;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto
}

.q_circles_holder.three_columns .q_circle_inner {
    width: 230px;
    height: 230px
}

.q_circles_holder.four_columns .q_circle_inner {
    width: 180px;
    height: 180px
}

.q_circles_holder.five_columns .q_circle_inner {
    width: 130px;
    height: 130px
}

.q_circles_holder .q_circle_inner2 {
    position: relative;
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -o-border-radius: 1000px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    overflow: hidden
}

.q_circles_holder .q_circle_inner2 img {
    display: block;
    width: 100%;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -o-border-radius: 1000px
}

.q_circles_holder .q_circle_inner2 i {
    color: #333;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out
}

.q_circles_holder .q_circle_text_holder {
    display: block;
    text-align: center;
    margin: 23px 0 0;
    padding: 0 10px
}

.q_circles_holder .q_circle_text_holder .q_circle_text {
    display: block;
    margin: 8px 0 0
}

nav.content_menu {
    position: relative;
    text-align: left;
    display: block;
    z-index: 1001;
    background-color: #fff;
    -webkit-transform: translateZ(0px);
    width: 100%
}

.container_inner nav.content_menu {
    width: 1100px
}
/*css da palavra menu no right-menu*/

.menu-bar-right{
    font-family: 'raleway';
    text-align: center;
    font-size: 9px;
}

.page-footer {
    background-color: #3e4551;
    color: white;
}
.footer-copyright {
    background-color: #323741
}
.text-center{
    text-align: center !important;
}
.list-inline{
    padding-left: 0;
    list-style: none;
}
.list-inline-item{display:inline-block}

.image-products-scale {
    width: 100px;
    height: 100px;
}