
{% block caroussel %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active overlay red" style="background-image: url('http://avante.biz/wp-content/uploads/Soccer-Wallpapers/Soccer-Wallpapers-021.jpg')">
        <div class="carousel-caption ">
          <h3>Confiança, Qualidade e retorno dos investimentos</h3>
          <p>This is a description for the first slide.</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item overlay red" style="background-image: url('http://www.wallpapers-web.com/data/out/184/5418588-soccer-wallpapers.jpg')">
        <div class="carousel-caption">
          <h3>A THS figura entre as maiores e mais reconhecidas empresas de tecnologia do Brasil</h3>
          <p>This is a description for the second slide.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item overlay red" style="background-image: url('http://www.wallpapers-web.com/data/out/184/5418640-soccer-wallpapers.jpg');" >
        <div class="carousel-caption">
          <h3>Foco no resultado e alinhamento ao seu negócio</h3>
          <p>This is a description for the third slide.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <h1 class="my-4" style="text-align: center;">Bem vindo a THS</h1>

<div class="container pt-5" id="previews">
<div class="row">
<div class="col-md-4 mb-4">
  <div class="preview-pane">
    <a>
      <img style="height: 290px;" src="{% static "images/world.png" %}" class="img-fluid mx-auto mb-4" alt="">
      <h3>Conectividade</h3>
      <hr class="colored">
      <p class="text-muted">Traçamos estratégias baseadas em negócios, assim todos os serviços são
         desenhados para ter um ciclo de vida acompanhado do início ao fim, garantindo a alta disponibilidade
          e a continuidade dos processos internos de nossos clientes.</p>
    </a>
  </div>
</div>
<div class="col-md-4 mb-4">
  <div class="preview-pane">
    <a>
      <img style="height: 290px;" src="{% static "images/tech.png" %}" class="img-fluid mx-auto mb-4" alt="">
      <h3>BigData e AI</h3>
      <hr class="colored">
      <p class="text-muted">
        A THS é referencia em Big Data, possuindo o conhecimento empresarial, experiência analítica 
        e domínio tecnológico essencial para o sucesso de seus projetos de Big Data.
        </p>
    </a>
  </div>
</div>
<div class="col-md-4 mb-4">
  <div class="preview-pane">
    <a>
      <img style="height: 290px;" src="{% static "images/creative.png" %}" class="img-fluid mx-auto mb-4" alt="">
      <h3>Serviço global</h3>
      <hr class="colored">
      <p class="text-muted">
        <em> Para manter a excelência, investimos constantemente em inovações tecnológicas,
           nas melhores parcerias, em aquisições de empresas no Brasil e no exterior, além da 
           contratação de profissionais altamente capacitados!</em>
      </p>
    </a>
  </div>
</div>
</div>
</div>
{% endblock  %}