<!DOCTYPE html> {% extends "Landing/_layout.html"%} {% load staticfiles %} {% block body_block %}
<header>
  <!-- Something somethin about the company -->
  <div style="background-image: url('https://c.wallhere.com/photos/3f/43/grass_lawn_green-1095720.jpg!d');
                position: relative; background-size: cover; background-repeat: no-repeat;">
    <row>
      <div class="col-4 ml-11">
        <h1 class="about-caption">Soccer pocket</h1>
      </div>
    </row>
  </div>
</header>

<!-- Page Content -->
<div class="container mt-5 mb-5">
  <!-- The real body goes here -->
  <div class="about-paragraph">
    <h2>A busca contínua pela excelência dos resultados, é a nossa estratégia</h2>

    <p>A temporada do futebol europeu de 2018-19 está aqui e Soccer pocket é o único aplicativo
       de futebol que você precisa para acompanhar milhares de equipes e centenas de ligas em todo o mundo. Saiba tudo sobre
        o mundo do futebol acompanhando todas as últimas notícias, vídeos, jogos, resultados, estatísticas e datas para seus times
         favoritos durante a temporada.

    </p>
    <p>
        Você nunca mais vai perder um jogo do seu time favorito ou deixar passar aquela transferência bombástica! 
        O Soccer pocket é o melhor aplicativo para quem ama futebol! Você pode seguir os seus times favoritos e também campeonatos do mundo todo, 
        como Brasileirão 2018 Série A e Série B, Copa do Brasil, Libertadores, Liga dos Campeões, Premier League e muito mais! O melhor do Soccer pocket é que você
         pode personalizar o seu feed de notícias de futebol para receber só as notícias que mais interessam!
    </p>
    <p>Possuímos equipes especializadas na aplicação de rotinas de maneira organizada, o que reduz significativamente a ocorrência
      de erros e garante que cada passo do projeto seja eficaz, com a geração de resultados e a qualidade, que são marcas
      registradas da Central IT.
    </p>
    <p>
      Tanto cuidado na definição dos processos, mensuração de resultados e formação de equipes de alta performance faz com que
      a nossa empresa seja referência frente ao mercado na prestação de serviços de TI e Governança Corporativa.
    </p>

  </div>
</div>
<!-- /.container -->
{% comment %}
<div style="background-image: url('https://images.pexels.com/photos/325229/pexels-photo-325229.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
                position: relative; height:400px;">
  <row>
    <div class="col-4 ml-11">
      <h1 class="about-caption">THS</h1>
    </div>
  </row>
</div> {% endcomment %} {% endblock %}