<!DOCTYPE html> {% extends "Landing/_layout.html"%} {% load staticfiles %} {% block body_block %}
<header>
    <!-- Something somethin about the company -->
    <div style="background-image: url('https://images.pexels.com/photos/356830/pexels-photo-356830.jpeg?cs=srgb&dl=architecture-bay-bridge-356830.jpg&fm=jpg');
                position: relative; background-size: cover; background-repeat: no-repeat;">
        <row>
            <div class="col-4 ml-11">
                <h1 class="about-caption">Clientes</h1>
            </div>
        </row>
    </div>
</header>

<!-- Page Content -->
<div class="container mt-5 mb-5">
    <!-- The real body goes here -->
    <div class="about-paragraph">
        <h2><img class="card-img-top imagem-sistemas image-products-scale" src="http://www.ufjf.br/fisiologia/files/2012/05/UFJF-600-dpi-1024x740.jpg">Universidade Federal de Juiz de Fora</h2>
        <p> Desenvolvimento de uma plataforma integrada de gestão acadêmica segura e transparente. </p>
    </div>
</div>
<!-- /.container -->
{% comment %}
<div style="background-image: url('https://images.pexels.com/photos/325229/pexels-photo-325229.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
                position: relative; height:400px;">
    <row>
        <div class="col-4 ml-11">
            <h1 class="about-caption">THS</h1>
        </div>
    </row>
</div> {% endcomment %} {% endblock %}