<!DOCTYPE html> {% extends "Landing/_layout.html"%} {% load staticfiles %} {% block body_block %}
<header>
  <!-- Something somethin about the company -->
  <div style="background-image: url('https://images.pexels.com/photos/356830/pexels-photo-356830.jpeg?cs=srgb&dl=architecture-bay-bridge-356830.jpg&fm=jpg');
                position: relative; background-size: cover; background-repeat: no-repeat;">
    <row>
      <div class="col-4 ml-11">
        <h1 class="about-caption">Entre em contato conosco</h1>
      </div>
    </row>
  </div>
</header>

<!-- Page Content -->
<div class="container mt-5 mb-5">
  <!-- The real body goes here -->
  <div class="about-paragraph">
    <h2>Contato</h2>

    <form role="form" action="{% url 'contact' %}" method="POST">
        <div class="form-group">
            {% csrf_token %}
            <label for="email">Email address</label>
            <input type="email" name="contact_email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
            {% comment %} <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> {% endcomment %}
        </div>
        <div class="form-group">
            <label for="assunto">Nome</label>
            <input name="contact_name" class="form-control" id="nome" placeholder="...">
        </div>
        <div class="form-group">
            <label for="assunto">Assunto</label>
            <input name="contact_subject" class="form-control" id="assunto" placeholder="...">
        </div>
        <div class="form-group">
            <label for="mensagem">Mensagem</label>
            <textarea name="contact_content" class="form-control" id="mensagem"></textarea>
        </div>
        <button id="" type="submit" class="btn btn-primary">Enviar</button>
    </form>
    
  </div>
</div>

<!-- /.container -->
{% comment %}
<div style="background-image: url('https://images.pexels.com/photos/325229/pexels-photo-325229.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
                position: relative; height:400px;">
  <row>
    <div class="col-4 ml-11">
      <h1 class="about-caption">THS</h1>
    </div>
  </row>
</div> {% endcomment %} 
{% endblock %}