<!DOCTYPE html> {% extends "Landing/_layout.html"%} {% load staticfiles %} {% block body_block %}

<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active overlay red" style="background-image: url('http://avante.biz/wp-content/uploads/Soccer-Wallpapers/Soccer-Wallpapers-021.jpg')">
        <div class="carousel-caption ">
          <h3>Confiança, Qualidade com o nosso torcedor</h3>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item overlay red" style="background-image: url('http://www.osmais.com/wallpapers/201212/futebol-bola-wallpaper_f42dd.jpg')">
        <div class="carousel-caption">
          <h3>A Soccer pocket figura entre as maiores e mais reconhecidas torcidas do Brasil</h3>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item overlay red" style="background-image: url('https://ilovedecathlon.files.wordpress.com/2014/04/wallpaper4.png');">
        <div class="carousel-caption">
          <h3>Foco no resultado dos campeonatos</h3>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <h1 class="my-4" style="text-align: center;">Bem vindo a Soccer pocket</h1>
  <div class="container pt-5" id="previews">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="preview-pane">
          <a>
            <img style="height: 290px;" src="{% static "images/world.png" %}" class="img-fluid mx-auto mb-4" alt="">
            <h3>Conectividade</h3>
            <hr class="colored">
            <p class="text-muted">Usuários da nossa torcida podem se conectar em qualquer lugar.</p>
          </a>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="preview-pane">
          <a>
            <img style="height: 290px;" src="{% static "images/tech.png" %}" class="img-fluid mx-auto mb-4" alt="">
            <h3>API dedicada</h3>
            <hr class="colored">
            <p class="text-muted">
                Garantimos o acesso contínuo a longo-prazo à informação e a todas as novidades do time.
            </p>
          </a>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="preview-pane">
          <a>
            <img style="height: 290px;" src="{% static "images/creative.png" %}" class="img-fluid mx-auto mb-4" alt="">
            <h3>Prêmios</h3>
            <hr class="colored">
            <p class="text-muted">
              <em>Utilize nosso plano de fidelidade e concorra a viagens incríveis.</em>
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>

    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <!-- <div class="row">
      <div class="col-lg-6">
        <h2>Modern Business Features</h2>
        <p>The Modern Business template by Start Bootstrap includes:</p>
        <ul>
          <li>
            <strong>Bootstrap v4</strong>
          </li>
          <li>jQuery</li>
          <li>Font Awesome</li>
          <li>Working contact form with validation</li>
          <li>Unstyled page elements for easy customization</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam
          totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
      </div>
    </div> -->
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae
          veniam harum neque nemo praesentium cum alias asperiores commodi.</p> -->
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="#">Para o topo da página</a>
      </div>
    </div>

  </div>
</div>
<!-- /.container -->
{% endblock %}