<!DOCTYPE html> {% extends "Landing/_layout.html"%} {% load staticfiles %} {% block body_block %}
<header>
    <!-- Something somethin about the company -->
    <div style="background-image: url('https://c.wallhere.com/photos/3f/43/grass_lawn_green-1095720.jpg!d');
                position: relative; background-size: cover; background-repeat: no-repeat;">
        <row>
            <div class="col-4 ml-11">
                <h1 class="about-caption">Sedes</h1>
            </div>
        </row>
    </div>
</header>

<!-- Page Content -->
<div class="container mt-5 mb-5">
    <!-- The real body goes here -->
    <div class="about-paragraph">
        <h2><img class="card-img-top imagem-sistemas image-products-scale" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Goi%C3%A2nia.svg/400px-Goi%C3%A2nia.svg.png">Goiania</h2>
        
        <p> Localizada no centro do seu estado, foi planejada e construída para ser a capital política e administrativa de Goiás sob influência 
            da Marcha para o Oeste, política desenvolvida pelo governo Vargas para acelerar o desenvolvimento e incentivar a ocupação do Centro-Oeste
             brasileiro. Os estreitos laços de amizade e interações políticas entre Pedro Ludovico Teixeira e Vargas contribuíram bastante para essa 
             empreitada. Sofreu um acelerado crescimento populacional desde a década de 1960 e atingiu um milhão de habitantes em 1996. Desde seu início, 
             a sua arquitetura teve influência do Art Déco, que definiu a fisionomia dos primeiros prédios da cidade.</p>

        <h2><img class="card-img-top imagem-sistemas image-products-scale" src="https://upload.wikimedia.org/wikipedia/commons/7/71/Aruan%C3%A3.PNG">Araunã</h2>
        
        <p> O município de Aruanã, antigamente denominado de Leopoldina ou Santa Leopoldina, em homenagem à imperatriz, está inserido na microrregião do Rio Vermelho,
             com uma área de 3.180,00 km², que representa 0,93% da área total do Estado. Localiza-se entre os paraletos 14º06’13’’ e 15º19’21’’ de latitude Sul e os meridianos
              de 50º44’18’’ e 51º10’20’’ de longitude Oeste de Greenwich. A sede municipal está a 215 metros de altitude, com sua posição geográfica determinada pelo paralelo 14º55’14’’
               de latitude Sul em sua interseção com o meridiano 51º04’48’’ de longitude Wgs.
        </p>
        <p>
            Limita-se ao norte com o Estado de Mato Grosso e o município de Nova Crixás; ao sul com os municípios de Matrinchã e Itapirapuã; 
            a leste com os município de Mozarlândia, Araguapaz e Matrinchã; a oeste com o município de Britânia e o estado de Mato Grosso.


        </p>
    </div>
</div>
<!-- /.container -->
{% comment %}
<div style="background-image: url('https://images.pexels.com/photos/325229/pexels-photo-325229.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
                position: relative; height:400px;">
    <row>
        <div class="col-4 ml-11">
            <h1 class="about-caption">THS</h1>
        </div>
    </row>
</div> {% endcomment %} {% endblock %}